:root {
    --main-bg-color: #2e2e2e;

    --main-purple: #9d6ad6; 

    --main-white: #f0f0f0;

    --secondary-white: #d1d1d1;
}

body {
    background-color: var(--main-bg-color);
    font-family: "source code pro", Verdana, monospace;
}

p {
    color : var(--main-purple);
}

h1 {
    color: var(--main-white);
    font-family: "Roboto", Verdana, sans-serif;
}

h2,li,a,em {
    color: var(--secondary-white);

    font-style: normal;    
}

.p1 {
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: var(--secondary-white);
    padding-left: 15px;
}

.menu {
    background-color: var(--main-purple);
    height: 30px;

}

.sticky {
    position: sticky;

}

.fixed {
    position:fixed;

}

.inline {
    display: inline;
}

.centered {
    text-align: center;
}

td {
    text-align: center;
}

.purple {
    color:var(--main-purple)
}

.secwhite {
    color:var(--secondary-white)
}

td,th {
    border: 1px solid var(--secondary-white);
    padding: 7px;
}

table {
    border-collapse: collapse;
}

.bold {
    font-weight: bold;
}

.padtop {
    padding-top: 5px;
}